<!DOCTYPE html>
<html>
  <head>
    <title>Feed</title>
    <link rel='stylesheet' href='/stylesheets/feed.css' />
  </head>
  <body>
    <section id="background">
      <div id="blob"></div>
      <div id="blur"></div>
    </section>

    <div class="heading">
      <h1>Zerothdev</h1>
    </div>

    <div class="myIdea">
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="MyCard">
                    <h3><%= post.user.displayName %></h3>
                    <h6><%= post.createdAt.toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }) %></h6>
                    <h3><%= post.title %></h3> 
                    <p><%= post.description %></p>
                </div>
            <% }) %>
        <% } %>
    </div>
    
</body>
</html>