<!DOCTYPE html>
<html>
  <head>
    <title>Zerothdev</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="background">
      <div id="blob"></div>
      <div id="blur"></div>
    </section>

    <div class="heading">
      <h1>Zerothdev</h1>
    </div>
    
    <main>
      <div id="title">
        <span class="word">
          <span class="char">i</span>
          <span class="char">n</span>
          <span class="char">n</span>
          <span class="char">o</span>
          <span class="char">v</span>
          <span class="char">a</span>
          <span class="char">t</span>
          <span class="char">e</span>
        </span>
        <span class="word">
          <span class="char">e</span>
          <span class="char">l</span>
          <span class="char">e</span>
          <span class="char">v</span>
          <span class="char">a</span>
          <span class="char">t</span>
          <span class="char">e</span>
        </span>
        <span class="word">
          <span class="char">c</span>
          <span class="char">a</span>
          <span class="char">p</span>
          <span class="char">t</span>
          <span class="char">i</span>
          <span class="char">v</span>
          <span class="char">a</span>
          <span class="char">t</span>
          <span class="char">e</span>
        </span>
      </div>
      
      <div class="glowbtn">
        <a href="/auth/google">Join with Google</a>
      </div>
    
    </main>
  </body>
</html>
