<!DOCTYPE html>
<html>
  <head>
    <title>Learn</title>
    <link rel='stylesheet' href='/stylesheets/learn.css' />
  </head>
  <body>
    <section id="background">
      <div id="blob"></div>
      <div id="blur"></div>
    </section>

    <div class="heading">
      <h1>Zerothdev</h1>
    </div>

    <h1>Learning</h1>
    <h1><%= googleuser.displayName %></h1>
    <h1>Topic</h1>
    <h1>Roadmap</h1>
    <h1>explain to kid</h1>
    <h1>Code</h1>
    <h1>resources with ratings</h1>
    <h1>NewsTrendings</h1>
</body>
</html>