<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register me</h1>
    <p>Welcome to Zerothdev</p>
    <a href="/auth/google">Google LogIn</a>
  </body>
</html>